Reset de estilos padrões
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    padding: 10px;
    text-align: center;
}

header a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 16px;
}

header a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li a {
    color: #4CAF50;
    text-decoration: none;
    font-size: 18px;
}

ul li a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: 20px;
}
